<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form>
        마법이론: <input type="number" v-model="magicScore" /> <br />
        주문실습:<input type="number" v-model="orderScore" /><br />
        비행수업: <input type="number" v-model="flightScore" /><br />
        <button @click="avg">평가하기</button>
      </form>
      <br />
      <span>{{result}}</span>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            magicScroe: 0,
            orderScroe: 0,
            flightScore: 0,
            result: '',
          };
        },
        computed: {
          avg() {
            let average =
              (this.magicScroe + this.orderScroe + this.flightScore) / 3;
            if (average >= 90) {
              this.result = '최우수 합격';
            } else if (average >= 70) {
              this.result = '합격';
            } else {
              this.result = '불합격';
            }
          },
        },
        watch: {
          magicScroe(current, old) {
            if (current > 100 || current < 0) {
              alert('점수는 0~100 사이로 입력해주세요!');
            }
          },
          orderScroe(current, old) {
            if (current > 100 || current < 0) {
              alert('점수는 0~100 사이로 입력해주세요!');
            }
          },
          flightScore(current, old) {
            if (current > 100 || current < 0) {
              alert('점수는 0~100 사이로 입력해주세요!');
            }
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
